# Python
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite

# Editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Virtualenv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# PyInstaller
#  Often stores build artifacts in dist/ and build/
#  when compiling with pyinstaller.
#  Also creates a `.spec` file.
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
